tqdm==4.31.1
scikit_image==0.13.1
numpy==1.14.3
pyzbar==0.1.8
qrcode==6.1
scipy==1.1.0
opencv_python==3.4.3.18
Flask==1.0.2
SQLAlchemy==1.2.7
PyWavelets==0.5.2
reedsolo==0.3
Pillow==6.0.0
pywt==1.0.6
skimage==0.0
scikit_learn==0.20.3
